// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "vue-select/src/scss/vue-select.scss";

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
    .content-dash {
        padding-left: 120px;
        padding-right: 120px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}


/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
    .content-dash {
        padding-left: 120px;
        padding-right: 120px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}


// @media (max-width: 1440px){

    // .navbar-header {
    //     float: none;
    // }
    // .navbar-toggle {
    //     display: block;
    // }
    // .navbar-collapse {
    //     border-top: 1px solid transparent;
    //     box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    // }
    // .navbar-collapse.collapse {
    //     display: none!important;
    // }
    // .navbar-nav {
    //     float: none!important;
    //     margin: 7.5px -15px;
    // }
    // .navbar-nav>li {
    //     float: none;
    // }
    // .navbar-nav>li>a {
    //     padding-top: 10px;
    //     padding-bottom: 10px;
    // }
// }

.content-dash {
    padding-top: 20px;
    padding-bottom: 20px;
}

.container-dashboard {
    background: #dcdde1;
    border-radius: 10px;
}

.bg-light {
    background-color: #ff7979 !important;
    .navbar-brand {
        color: white !important;
    }
    a.nav-link {
        color: white !important;
        font-weight: lighter !important;
        margin-right: 15px !important;
        padding: 11px !important;
    }
    .navbar-toggler {
        background: white !important;
    }
    .dropdown-item {
        padding-top: 7px !important;
        padding-bottom: 7px !important;
    }
}

.card-dashboard {
    // height:230px;
    border-radius: 8px;
    box-shadow: 9px 7px 24px -18px rgba(92, 87, 92, 0.72);
    transition: 0.3s;
}

// .dropdown-menu{
//   left: auto !important;
//   top: 80% !important;
// }
span.toggle-handle.btn.btn-default {
    background: #35495e !important;
}

.toggle-off {
    background: #e6e6e6 !important;
}

label {
    font-weight: bold;
}

.sub-title {
    color: #7f8fa6;
}

.login-header {
    background-color: #ff7979;
    color: white;
}

// SALES
.form-group.row.total-results {
    margin: 0 !important;
}

table.table.product-table-item {
    margin: 0 !important;
}

.sales-product-item .form-group.clearfix {
    margin-bottom: .6rem;
}

.invoice-table td {
    padding: 0px !important;
}

#myList {
    position: fixed !important;
    z-index: 1050 !important;
    width: 439px !important;
    // display: block !important;
}

#myList li:hover {
    background-color: #3490dc !important;
    color: white;
}

#username {
    border-radius: 100px;
    background: #ecf0f1;
    height: 46px;
}

#password {
    border-radius: 100px;
    background: #ecf0f1;
    height: 46px;
}

input[type=date]::-ms-clear {
  color: red;
}

// PREVENT SPACES IF AFTER POPUP MODAL
body.swal2-shown {
    padding-right: 0px !important;

}

// System Log
ul.object-details{
    list-style: none;
}

ul.object-details li{
    margin-left: 1em;
}
span.object-index{
    color: red;
}
span.object-item {
    color: #007eff;
}

span.pos-status{
    position: relative;
    display: block;
    margin-bottom: 8px;
}